# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
desktop.ini

# Build
build/
dist/
*.egg

# Don't ignore assets needed for docs
!documento/assets/*.png
